## Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('hcc.csv')
data

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,Age,Grams_day,Packs_year,Ascites,INR
0,1,0.0,1,0.0,0.0,67,137.0,15.0,1.0,1.530
1,0,NaN,0,0.0,0.0,62,0.0,NaN,1.0,NaN
2,1,0.0,1,1.0,0.0,78,50.0,50.0,2.0,0.960
3,1,1.0,1,0.0,0.0,77,40.0,30.0,1.0,0.950
4,1,1.0,1,1.0,0.0,76,100.0,30.0,1.0,0.940
5,1,0.0,1,0.0,NaN,75,NaN,NaN,2.0,1.580
6,1,0.0,0,0.0,NaN,49,0.0,0.0,1.0,1.400
7,1,1.0,1,0.0,NaN,61,NaN,20.0,1.0,1.460
8,1,1.0,1,0.0,0.0,50,100.0,32.0,2.0,3.140
9,1,1.0,1,0.0,0.0,43,100.0,0.0,1.0,1.120
10,1,0.0,1,0.0,0.0,41,NaN,NaN,2.0,1.050
11,1,0.0,1,0.0,0.0,74,NaN,0.0,1.0,1.330
12,1,0.0,1,0.0,0.0,66,NaN,30.0,1.0,1.530
13,1,NaN,0,0.0,0.0,56,0.0,NaN,1.0,1.200
14,1,0.0,1,0.0,0.0,63,NaN,NaN,2.0,1.250
15,0,0.0,1,0.0,0.0,41,100.0,0.0,2.0,1.610
16,1,0.0,1,0.0,0.0,72,NaN,NaN,1.0,2.140
17,1,1.0,1,0.0,0.0,60,100.0,60.0,1.0,1.050
18,1,NaN,1,0.0,0.0,64,200.0,78.0,1.0,1.130
19,1,1.0,1,0.0,0.0,75,500.0,NaN,3.0,1.440
20,1,0.0,1,0.0,0.0,71,200.0,60.0,1.0,1.290
21,1,0.0,1,0.0,0.0,73,80.0,47.0,1.0,1.060
22,1,1.0,1,0.0,0.0,66,180.0,0.0,3.0,1.270
23,1,1.0,1,0.0,0.0,64,200.0,60.0,1.0,4.820
24,1,1.0,1,0.0,NaN,84,150.0,NaN,1.0,1.740
25,1,0.0,1,0.0,NaN,80,100.0,0.0,1.0,1.330
26,1,1.0,1,NaN,NaN,45,50.0,16.0,3.0,1.380
27,1,NaN,1,1.0,0.0,57,NaN,NaN,1.0,1.370
28,1,0.0,1,0.0,0.0,61,60.0,67.5,1.0,1.300
29,1,1.0,1,0.0,NaN,20,NaN,2.0,1.0,1.210
...,...,...,...,...,...,...,...,...,...,...
135,0,1.0,0,0.0,0.0,71,0.0,0.0,1.0,1.240
136,0,1.0,0,0.0,0.0,56,0.0,40.0,1.0,1.250
137,0,1.0,0,0.0,0.0,78,0.0,0.0,1.0,1.030
138,0,1.0,0,0.0,0.0,55,0.0,NaN,1.0,1.190
139,0,1.0,1,0.0,0.0,76,NaN,12.0,1.0,0.940
140,0,1.0,0,NaN,NaN,43,0.0,0.0,1.0,1.250
141,1,1.0,0,0.0,0.0,71,0.0,NaN,1.0,1.470
142,1,NaN,1,0.0,0.0,67,70.0,0.0,NaN,1.020
143,1,0.0,1,0.0,0.0,67,NaN,40.0,1.0,1.798
144,1,NaN,1,0.0,0.0,51,NaN,37.0,1.0,1.260
145,1,1.0,1,0.0,0.0,80,NaN,NaN,1.0,1.000
146,1,1.0,1,0.0,0.0,79,100.0,15.0,3.0,1.680
147,1,0.0,1,0.0,NaN,75,NaN,NaN,1.0,1.710
148,0,0.0,0,0.0,NaN,81,0.0,0.0,1.0,1.180
149,0,1.0,0,0.0,0.0,25,0.0,0.0,1.0,NaN
150,1,0.0,0,0.0,0.0,36,0.0,0.0,1.0,1.120
151,0,0.0,1,0.0,0.0,69,NaN,NaN,1.0,1.200
152,1,1.0,1,0.0,0.0,47,250.0,18.0,3.0,1.390
153,1,1.0,1,NaN,NaN,87,NaN,0.0,1.0,1.200
154,0,0.0,0,0.0,0.0,36,0.0,0.0,1.0,1.520
155,1,1.0,1,0.0,0.0,64,75.0,25.0,3.0,1.630
156,1,1.0,1,0.0,0.0,49,NaN,0.0,1.0,1.240
157,1,NaN,1,0.0,0.0,62,NaN,20.0,2.0,1.410
158,1,NaN,0,0.0,0.0,71,0.0,NaN,1.0,1.160
159,1,1.0,1,1.0,0.0,64,100.0,0.0,3.0,1.520
160,0,0.0,1,NaN,NaN,40,NaN,NaN,1.0,0.840
161,0,1.0,0,NaN,NaN,68,0.0,0.0,1.0,1.330
162,1,0.0,1,0.0,0.0,65,NaN,48.0,1.0,1.130
163,1,0.0,1,1.0,0.0,44,NaN,NaN,1.0,2.140
164,1,1.0,1,0.0,0.0,52,50.0,NaN,1.0,1.790

In [12]:
data.shape

(165, 10)

In [13]:
data.head(n=10)

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,Age,Grams_day,Packs_year,Ascites,INR
0,1,0.0,1,0.0,0.0,67,137.0,15.0,1.0,1.53
1,0,NaN,0,0.0,0.0,62,0.0,NaN,1.0,NaN
2,1,0.0,1,1.0,0.0,78,50.0,50.0,2.0,0.96
3,1,1.0,1,0.0,0.0,77,40.0,30.0,1.0,0.95
4,1,1.0,1,1.0,0.0,76,100.0,30.0,1.0,0.94
5,1,0.0,1,0.0,NaN,75,NaN,NaN,2.0,1.58
6,1,0.0,0,0.0,NaN,49,0.0,0.0,1.0,1.40
7,1,1.0,1,0.0,NaN,61,NaN,20.0,1.0,1.46
8,1,1.0,1,0.0,0.0,50,100.0,32.0,2.0,3.14
9,1,1.0,1,0.0,0.0,43,100.0,0.0,1.0,1.12

In [14]:
data.tail(n=10)

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,Age,Grams_day,Packs_year,Ascites,INR
155,1,1.0,1,0.0,0.0,64,75.0,25.0,3.0,1.63
156,1,1.0,1,0.0,0.0,49,NaN,0.0,1.0,1.24
157,1,NaN,1,0.0,0.0,62,NaN,20.0,2.0,1.41
158,1,NaN,0,0.0,0.0,71,0.0,NaN,1.0,1.16
159,1,1.0,1,1.0,0.0,64,100.0,0.0,3.0,1.52
160,0,0.0,1,NaN,NaN,40,NaN,NaN,1.0,0.84
161,0,1.0,0,NaN,NaN,68,0.0,0.0,1.0,1.33
162,1,0.0,1,0.0,0.0,65,NaN,48.0,1.0,1.13
163,1,0.0,1,1.0,0.0,44,NaN,NaN,1.0,2.14
164,1,1.0,1,0.0,0.0,52,50.0,NaN,1.0,1.79

In [15]:
#statistika deskriptif
data.describe()

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,Age,Grams_day,Packs_year,Ascites,INR
count,165.000000,147.000000,165.000000,148.000000,126.000000,165.000000,117.000000,112.000000,163.000000,161.000000
mean,0.806061,0.639456,0.739394,0.108108,0.007937,64.690909,71.008547,20.464286,1.441718,1.421851
std,0.396586,0.481800,0.440302,0.311571,0.089087,13.319534,76.277680,51.565130,0.685819,0.477816
min,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,1.000000,0.840000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,57.000000,0.000000,0.000000,1.000000,1.170000
50%,1.000000,1.000000,1.000000,0.000000,0.000000,66.000000,75.000000,0.000000,1.000000,1.300000
75%,1.000000,1.000000,1.000000,0.000000,0.000000,74.000000,100.000000,30.500000,2.000000,1.530000
max,1.000000,1.000000,1.000000,1.000000,1.000000,93.000000,500.000000,510.000000,3.000000,4.820000

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
Gender        165 non-null int64
Symptoms      147 non-null float64
Alcohol       165 non-null int64
HBsAg         148 non-null float64
HBeAg         126 non-null float64
Age           165 non-null int64
Grams_day     117 non-null float64
Packs_year    112 non-null float64
Ascites       163 non-null float64
INR           161 non-null float64
dtypes: float64(7), int64(3)
memory usage: 13.0 KB

In [19]:
np.sum(data.isnull()) #number of NA for each variable

Gender         0
Symptoms      18
Alcohol        0
HBsAg         17
HBeAg         39
Age            0
Grams_day     48
Packs_year    53
Ascites        2
INR            4
dtype: int64

In [20]:
data.isnull().sum()

Gender         0
Symptoms      18
Alcohol        0
HBsAg         17
HBeAg         39
Age            0
Grams_day     48
Packs_year    53
Ascites        2
INR            4
dtype: int64

In [21]:
data.isnull().sum().sum()

181

In [22]:
#imputasi missing value data numerik
data['Grams_day'] = data['Grams_day'].fillna((data['Grams_day'].mean())) 
data['Packs_year'] = data['Packs_year'].fillna((data['Packs_year'].median()))
data['INR'] = data['INR'].fillna((data['INR'].mean()))
data.isnull().any()

Gender        False
Symptoms       True
Alcohol       False
HBsAg          True
HBeAg          True
Age           False
Grams_day     False
Packs_year    False
Ascites        True
INR           False
dtype: bool

In [23]:
#imputasi data kategorik dengan modus
data['Symptoms'] = data.fillna(data['Symptoms'].value_counts().index[0])
data['Alcohol'] = data.fillna(data['Alcohol'].value_counts().index[0])
data['HBsAg'] = data.fillna(data['HBsAg'].value_counts().index[0])
data.isnull().any()

Gender        False
Symptoms      False
Alcohol       False
HBsAg         False
HBeAg          True
Age           False
Grams_day     False
Packs_year    False
Ascites        True
INR           False
dtype: bool

In [24]:
#imputasi data kategorik dengan modus sesuai kolom masing2
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Gender        False
Symptoms      False
Alcohol       False
HBsAg         False
HBeAg         False
Age           False
Grams_day     False
Packs_year    False
Ascites       False
INR           False
dtype: bool

## Encode

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
# Encode untuk Gender, Symptoms, Alcohol, Grams_day, Packs_year, dan INR tanpa membuat kolom baru
data['Gender'] = LabelEncoder().fit_transform(data['Gender'])
data['Symptoms'] = LabelEncoder().fit_transform(data['Symptoms'])
data['Alcohol'] = LabelEncoder().fit_transform(data['Alcohol'])
data['Grams_day'] = LabelEncoder().fit_transform(data['Grams_day'])
data['Packs_year'] = LabelEncoder().fit_transform(data['Packs_year'])
data['INR'] = LabelEncoder().fit_transform(data['INR'])
data.head()

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,Age,Grams_day,Packs_year,Ascites,INR
0,1,1,1,1.0,0.0,67,13,7,1.0,55
1,0,0,0,0.0,0.0,62,0,0,1.0,47
2,1,1,1,1.0,0.0,78,3,23,2.0,3
3,1,1,1,1.0,0.0,77,2,13,1.0,2
4,1,1,1,1.0,0.0,76,11,13,1.0,1

## Standardize

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
data['Gender'] = StandardScaler().fit(data[['Gender']]).transform(data[['Gender']])
data['Age'] = StandardScaler().fit(data[['Age']]).transform(data[['Age']])
data['Alcohol'] = StandardScaler().fit(data[['Alcohol']]).transform(data[['Alcohol']])
data['Grams_day'] = StandardScaler().fit(data[['Grams_day']]).transform(data[['Grams_day']])
data['Packs_year'] = StandardScaler().fit(data[['Packs_year']]).transform(data[['Packs_year']])

## Normalize

In [29]:
from sklearn.preprocessing import Normalizer

In [30]:
data['Gender'] = Normalizer().fit(data[['Gender']]).transform(data[['Gender']])
data['Age'] = Normalizer().fit(data[['Age']]).transform(data[['Age']])
data['Alcohol'] = Normalizer().fit(data[['Alcohol']]).transform(data[['Alcohol']])
data['Grams_day'] = Normalizer().fit(data[['Grams_day']]).transform(data[['Grams_day']])
data['Packs_year'] = Normalizer().fit(data[['Packs_year']]).transform(data[['Packs_year']])

In [31]:
data.head()

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,Age,Grams_day,Packs_year,Ascites,INR
0,1.0,1,1.0,1.0,0.0,1.0,1.0,1.0,1.0,55
1,-1.0,0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,1.0,47
2,1.0,1,1.0,1.0,0.0,1.0,-1.0,1.0,2.0,3
3,1.0,1,1.0,1.0,0.0,1.0,-1.0,1.0,1.0,2
4,1.0,1,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1